<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Message Board</title>
  </head>
  <body>
    <h1>The Dojo Message Board</h1>
    <hr>
    <form action='/messages' method="POST">
      <label>Name: <input type="text" name="name"></label>
		  <label>Message: <input type="text" name="message"></label>
		  <input type="submit" value="Post Message">
    </form>

  </body>
</html>
